extends ../../layout
include ../../components/forms

block content
  h3
    | Gerenciar Usuários
  form(class="form-inline", action="", method="GET")
    +select('Ordenar: ', 'sort', oldInput('sort'), 'Ordenar resultados', sortOptions, {val: 'value', text: 'text'})    
    +select('Situação: ', 'situation', oldInput('situation'), 'Situação', situationOptions, {val: 'value', text: 'text'})
    +input('Nome: ', 'name', oldInput('name'), 'Filtrar por nome')
    +submit('Aplicar filtros')
  .clearfix
  br
  .form-group
    label.block
      | Ações em massa sobre os usuários selecionados:
    .btn-group
      button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="approve-all")
        | Habilitar OA's
      button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="disapprove-all")
        | Desabilitar OA's
      button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="remove-all")
        | Remover OA's
  table.table
    thead
      th
        .checkbox
          label
            input(type="checkbox").table-checkall
      th
        | Usuário
      th
        | Situação
      th
        | Ações
    tbody
      each user in data
        tr
          td
            .checkbox
              label
                input(type="checkbox", value=user._id, name="user-checkbox").mass-checkbox
          td
            strong
              | !{user.name}<br/>
            | !{user.email}
          td
            | !{user.htmlSituation}
          td
            .btn-group
              if user.role == 'COMMON'
                a.btn.btn-success.btn-xs(href="/admin/user/authorize/" + user._id)
                  i(class="fa fa-thumbs-o-up" aria-hidden="true")
                  | Autorizar
              else if user.role == 'AUTHORIZED'
                a.btn.btn-danger.btn-xs(href="/admin/user/unauthorize/" + user._id)
                  i(class="fa fa-thumbs-o-down" aria-hidden="true")
                  | Desautorizar
              a.btn.btn-default.btn-xs.remove(href="/admin/user/remove/" + user._id)
                i(class="fa fa-trash-o" aria-hidden="true")
                | Remover
              button.btn.btn-default.btn-xs.mass-actions(data-action="approve-all" data-id=user._id)
                | Habilitar OA's
              button.btn.btn-default.btn-xs.mass-actions(data-action="disapprove-all" data-id=user._id)
                | Desabilitar OA's
              button.btn.btn-default.btn-xs.mass-actions(data-action="remove-all" data-id=user._id)
                | Remover OA's

