extends ../../layout

block content
	h3
		| Gerenciar Usuários	
	form(class="form-inline", action="", method="GET")
		.form-group
			label(for="sort")
				| Ordenar: 
			select.form-control(name="sort", id="sort")
				option(value="") Selecionar ordem
				option(value="name", selected=sort == "name") Nome
				option(value="newer", selected=sort == "newer") Mais novos
				option(value="older", selected=sort == "older") Mais antigos
		.form-group
			label(for="situation")
				| Situação: 
			select.form-control(name="situation", id="situation")
				option(value="") Selecionar situação
				option(value="aut", selected=situation == "aut") Autorizadoo
				option(value="des", selected=situation == "des") Desautorizados
		.form-group
			label(for="name")
				| Nome: 
			input(placeholder="Filtrar por nome", name="name", id="name", class="form-control", value=name)
		.form-group
			button(type="submit", class="btn btn-primary") Aplicar
	.clearfix
	.form-group
		label
			| Ações em massa 
		.btn-group
			button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="approve-all")
				| Habilitar OA's
			button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="disapprove-all")
				| Desabilitar OA's
			button.btn.btn-default.mass-actions(class="disabled" disabled, data-action="remove-all")
				| Remover OA's
	table.table
		thead
			th
				.checkbox
					label
						input(type="checkbox").table-checkall
			th
				| Usuário
			th
				| Situação
			th
				| Ações
		tbody
			each user in data
				tr
					td
						.checkbox
							label
								input(type="checkbox", value=user._id, name="user-checkbox").mass-checkbox
					td
						strong
							| !{user.name}<br/>
						| !{user.email}
					td
						| !{user.htmlSituation}
					td
						.btn-group
							if user.role == 'COMMON'
								a.btn.btn-success(href="/admin/user/authorize/" + user._id)
									i(class="fa fa-thumbs-o-up" aria-hidden="true") 
									| Autorizar
							else if user.role == 'AUTHORIZED'
								a.btn.btn-danger(href="/admin/user/unauthorize/" + user._id)
									i(class="fa fa-thumbs-o-down" aria-hidden="true") 
									| Desautorizar							
							a.btn.btn-default.remove(href="/admin/user/remove/" + user._id)
								i(class="fa fa-trash-o" aria-hidden="true") 
								| Remover
							
