mixin inputText(label, name, value, placeholder)
  .form-group
    label(for=name)= label
    input.form-control(type='text', name=name, id=name, value=value, placeholder=placeholder)

mixin submit(text, className)
  button(type='submit', class=`btn btn-primary ${className}`)= text
