mixin formGroup(label, name)  
  .form-group(class=errors && errors[name] ? 'has-error': null)
    if label
      label(for=name)=label
    block

mixin input(label, name, value, placeholder)
  -
    attributes.name = name
    attributes.value = value
    attributes.placeholder = placeholder
    attributes.type = attributes.type || 'text'
  +formGroup(label, name)
    input.form-control&attributes(attributes)
    if errors && errors[name]
      .alert.alert-danger !{errors[name].message}

mixin textarea(label, name, value, placeholder)
  -
    attributes.name = name
    attributes.value = value
    attributes.placeholder = placeholder
    attributes.type = attributes.type || 'text'
    attributes.id = name
  +formGroup(label, name)
    textarea.form-control&attributes(attributes)
      | !{value}
    if errors && errors[name]
      .alert.alert-danger = !{errors[name].message}

mixin select(label, name, selected, placeholder, options, valText)
  -
    attributes.name = name    
    attributes.placeholder = placeholder
  +formGroup(label)
    select.form-control(name=name, id=id)&attributes(attributes)
      each option in options
        option(value=option[valText.val], selected=option[valText.val].toString()===selected)=option[valText.text]

//- O parametro checkeds recebe o vetor de valores marcados
//- o valor do checkbox precisa estar dentro desse vetor para
//- que o mesmo esteja marcado
mixin checkbox(label, name, value, checkeds)
  -    
    attributes.name = name    
    attributes.value = value
    attributes.checked = checkeds && checkeds.indexOf(value.toString()) != -1
  .checkbox
    label
      input(type='checkbox')&attributes(attributes)
      span  !{label}

mixin radio(label, name, value, checked)
  -    
    attributes.name = name    
    attributes.value = value
    attributes.checked = checked
  .checkbox
    label
      input(type='radio')&attributes(attributes)
      span  !{label}

mixin submit(text)
  +formGroup()
    button(type='submit', class=`btn btn-primary ${attributes.class}`)=text