mixin panel(title, inputName, id, checkboxes, values)
  .panel.panel-default
    .panel-heading
      .checkbox
        label
          input(type='checkbox', class='panel-checkall', data-target=`${inputName}[]`)
          span(id=`${id}-label`)
            | #{title}
    .panel-body
      fieldset
        each checkbox in checkboxes
          .checkbox.block
            label
              input(
                type='checkbox',
                name=`${inputName}[]`,
                aria-labelledby=(`${id}-label`),
                class='checked-string',
                value=checkbox._id,
                checked=values && values.indexOf(checkbox._id.toString()) != -1
              )
              span
                | !{checkbox.name}
