.panel.panel-default
  .panel-heading
    span#quali-label
      | Formação
  .panel-body
    fieldset
      each qualification in data.qualifications
        .checkbox.block
          label
            input(type="radio", aria-labelledby="quali-label", name="qualification_id", value=qualification._id, checked=(inputs && inputs.qualification_id == qualification._id.toString()) || ((data.user && data.user.qualification_id) && data.user.qualification_id.toString() == qualification._id.toString()))
            span
              | !{qualification.name}
    .form-group
      label(for="qualification_text")
        | Outra
      input(type="text", class="form-control js-other", value=(inputs && inputs.qualification_text) || (data.user ? data.user.qualification_text ? data.user.qualification_text : null : null), name="qualification_text",id="qualification_text")
.panel.panel-default
  .panel-heading
    span#occup-area-label
      | Área de Atuação
  .panel-body
    fieldset
      each occupation_area in data.occupation_areas
        .checkbox.block
          label
            input(type="radio", name="occupation_area_id", aria-labelledby="occup-area-label", value=occupation_area._id, checked=(inputs && inputs.occupation_area_id == occupation_area._id.toString()) || ((data.user && data.user.occupation_area_id) && data.user.occupation_area_id.toString() == occupation_area._id.toString()))
            span
              | !{occupation_area.name}
    .form-group
      label(for="occupation_area_text")
        | Outra
      input(type="text", class="form-control js-other", value=(inputs && inputs.occupation_area_text) || (data.user ? data.user.occupation_area_text ? data.user.occupation_area_text : null : null), name="occupation_area_text", id="occupation_area_text")
.panel.panel-default
  .panel-heading
    span#instit-link-label
      | Vínculo Institucional
  .panel-body
    fieldset
      each institutional_link in data.institutional_links
        .checkbox.block
          label
            input(type="radio", aria-labelledby="instit-link-label", name="institutional_link_id", value=institutional_link._id, checked=(inputs && inputs.institutional_link_id == institutional_link._id.toString()) || ((data.user && data.user.institutional_link_id) && data.user.institutional_link_id.toString() == institutional_link._id.toString()))
            span
              | !{institutional_link.name}
    .form-group
      label(for="institutional_link_text")
        | Outro
      input(type="text", class="form-control js-other", value=(inputs && inputs.institutional_link_text) || (data.user ? data.user.institutional_link_text ? data.user.institutional_link_text : null : null), name="institutional_link_text", id="institutional_link_text")
