extends layout

block content
	h3.page-header      
		| Contato
	p Através do formulário, a seguir, é possível entrar em contato com a administração deste repositório.
	form(action="/contact", method="POST")
		.form-group
			label(for="name")
				| Seu nome
			if currentUser
				input(class="form-control", name="name", value=currentUser.name, readonly, required, placeholder="Digite seu nome")
			else
				input(class="form-control", name="name", value=inputs && inputs.name, required, placeholder="Digite seu nome")
		.form-group
			label(for="subject")
				| Assunto				
			select(class="form-control", name="subject")
				option(value="")
					| Selectione um assunto
				option(value="Problema" selected=inputs && (inputs.subject == "Problema"))
					| Problema
				option(value="Sugestão" selected=inputs && (inputs.subject == "Sugestão"))
					| Sugestão
				option(value="Outro" selected=inputs && (inputs.subject == "Outro"))
					| Outro
		.form-group
			label(for="email")
				| Email
			input(class="form-control", name="email", value=inputs && inputs.email, required, placeholder="Digite seu email para contato")
		.form-group
			lanel(for="message")
				| Mensagem
			textarea(class="form-control", name="message", required, placeholder="Insira sua mensagem de contato")
				| !{inputs && inputs.message}
		.form-group
			button(type="submit", class="btn-lg btn btn-primary pull-right")
				i(class="glyphicon glyphicon-envelope" aria-hidden="true")
				|  Enviar mensagem
			.clearfix