extends ../../layout
include ../../components/forms

block content
  h3
    | Gerenciar Objetos de Aprendizagem
  form(class="form-inline", action="", method="GET")
    +select('Ordenar: ', 'sort', oldInput('sort'), 'Ordenar resultados', sortOptions, {val: 'value', text: 'text'})
    +select('Situação: ', 'situation', oldInput('situation'), 'Situação', situationOptions, {val: 'value', text: 'text'})
    +input('Título: ', 'title', oldInput('title'), 'Filtrar por título')
    +submit('Aplicar')    
  table.table
    thead
      th
        | Objeto
      th
        | Situação
      th
        | Ações
    tbody
      each lo in data
        tr(id=lo._id)
          td
            a(title=lo.title target="_blank" href=`/learning-object/single/${lo._id}`) #{lo.title}
          td
            | !{lo.htmlSituation}
          td
            .btn-group
              if !lo.approved
                a.btn.btn-success(href="/learning-object/approve/"+lo._id)
                  i(class="fa fa-thumbs-o-up" aria-hidden="true")
                  | Habilitar
              else
                a.btn.btn-danger(href="/learning-object/approve/"+lo._id)
                  i(class="fa fa-thumbs-o-down" aria-hidden="true")
                  | Desabilitar
              a.btn.btn-default.remove(href="/learning-object/remove/" + lo._id)
                i(class="fa fa-trash-o" aria-hidden="true")
                | Remover