extends ../../layout
include ../../components/forms

block content
  h3
    | Gerenciar Objetos de Aprendizagem
  form(class="form-inline", action="", method="GET")
    +select('Ordenar: ', 'sort', oldInput('sort'), 'Ordenar resultados', sortOptions, {val: 'value', text: 'text'})
    +select('Situação: ', 'situation', oldInput('situation'), 'Situação', situationOptions, {val: 'value', text: 'text'})
    +input('Título: ', 'title', oldInput('title'), 'Filtrar por título')
    +submit('Aplicar')    
    .clearfix
  br
  .form-group
    label.block
      | Ações em massa sobre os objetos selecionados:
    .btn-group
      button.btn.btn-default.mass-lo-action(class="disabled" disabled data-action="approve")
        | Habilitar OA
      button.btn.btn-default.mass-lo-action(class="disabled" disabled data-action="disapprove")
        | Desabilitar OA
      button.btn.btn-default.mass-lo-action(class="disabled" disabled data-action="remove" data-confirm="true")
        | Remover OA's
  table.table
    thead
      th
        .checkbox
          label
            input(type="checkbox").table-checkall
            strong
              | Objeto
      th
        | Situação
      th
        | Ações
    tbody
      each lo in data
        tr(id=lo._id)
          td
            .checkbox
              label
                input(type="checkbox", value=lo._id, name="user-checkbox").mass-checkbox
              a(title=lo.title target="_blank" href=`/learning-object/single/${lo._id}`) #{lo.title}          
          td
            | !{lo.htmlSituation}
          td
            .btn-group
              if !lo.approved
                a.btn.btn-success.btn-xs(href="/learning-object/approve/"+lo._id)
                  i(class="fa fa-thumbs-o-up" aria-hidden="true")
                  | Habilitar
              else
                a.btn.btn-danger.btn-xs(href="/learning-object/approve/"+lo._id)
                  i(class="fa fa-thumbs-o-down" aria-hidden="true")
                  | Desabilitar
              a.btn.btn-default.btn-xs.remove(href="/learning-object/remove/" + lo._id)
                i(class="fa fa-trash-o" aria-hidden="true")
                | Remover