extends ../layout
include ../components/forms
include ../components/panels
//- OBS: A variavel post, como o nome já sugere, mantem os dados que foram submetidos
//- através de uma requisição post, nela estão armazenados os valores que o usuário já
//- tentou submeter anteriormente. Nesta página por ser CREATE, ou um campo está vazio
//- ou seu valor está armazneado na variavel post
block content
  h3
    | Cadastrar Objeto de Aprendizagem    
  form(action="/learning-object/create", method="post", encType="multipart/form-data")    
    
    //- Formulário de dados gerais do objeto de aprendizagem
    +panel-default('Dados Gerais')    
        +input('Título *', 'title', post && post.title, 'Informe o título do objeto')(required=true)
        +textarea('Descrição *', 'description', post && post.description, 'Informe a descrição do objeto')(required=true)
        +input('Autores *', 'authors', post && post.authors, 'Informe o nome dos autores do objeto')(required=true)        
        +input('Ano de autoria *', 'year', post && post.year, 'Informe o ano de autoria do objeto')(required)

    //- Paineis para seleção de Níveis de Ensino, Eixos e Recursos de acessibilidade
    //- do objeto de aprendizagem a ser cadastrado
    p=JSON.stringify(post.teaching_levels && post.teaching_levels.indexOf("59ffd2c645aeca59f1c9863f") != -1)
    .row
      .col-md-5
        +panel-default('Níveis de Ensino', 'teaching_levels[]')
          fieldset
            each teaching_level in data.teaching_levels            
              +checkbox(
                teaching_level.name,
                'teaching_levels[]',
                teaching_level._id,
                post && post.teaching_levels
              )
      .col-md-3
        +panel-default('Eixos', 'axes[]')
          fieldset
            each axe in data.axes              
              +checkbox(
              axe.name,
              'axes[]',
              axe._id,
              post && post.axes
            )
      .col-md-4
        +panel-default('Recursos de Acessibilidade', 'accessibility_resources[]')
          fieldset
            each accessibility_resource in data.accessibility_resources              
              +checkbox(
                accessibility_resource.name,
                'accessibility_resources[]',
                accessibility_resource._id,
                post && post.accessibility_resources
              )
    .row
      .col-md-6
        +panel-default('Conteúdos', 'contents[]')
          fieldset
            each content in data.contents
              +checkbox(
                content.name,
                'contents[]',
                content._id,
                post && post.contents
              )
      .col-md-6
        +panel-default('Recursos', 'resources[]')
          fieldset
            each resource in data.resources
              +checkbox(
                resource.name,
                'resources[]',
                resource._id,
                post && post.resources
              )
    +panel-default('Licença')
      +select(
        'Licença *',
        'license',
        post && post.license, 
        'Selecione uma licença',
        data.licenses,
        {val: '_id', text: 'name'})(required=true)
      +input('Detentor dos Direitos Autorais *', 'license_owner', post && post.license_owner, 'Informe o nome do detentor dos direitos autorais do objeto')(required=true)

    include ../components/file-form
    //- Botão de submissão do formulário    
    +submit('Cadastrar')(class="btn-lg pull-right")    
    .clearfix
