extends ../layout

block content
  form(action="/learning-object/create", method="post", encType="multipart/form-data")
    .panel.panel-default
      .panel-heading
        | Dados Gerais
      .panel-body
        .form-group
          label
          | Título *
          input(type="text", placeholder="Informe o título do objeto", required="required" name="title", class="form-control", value=data.lo.title)
        .form-group
          label
          | Descrição *
          textarea(type="text", placeholder="Informe a descrição do objeto", required="required" name="description", class="form-control", value=data.lo.description)
            | !{data.lo.description}
        .form-group
          label
          | Autores *
          input(type="text", placeholder="Informe o nome dos autores do objeto", required="required" name="authors", class="form-control", value=data.lo.authors)
        .form-group
          label
          | Ano de autoria *
          input(type="text", placeholder="Informe o ano de autoria do objeto", required="required" name="year", class="form-control", value=data.lo.year)
    include ../components/lo-panels
    +loPanels([
      {
        options: data.teaching_levels,
        values: data.lo ? data.lo.teaching_levels : undefined,
      },
      {
        options: data.axes,
        values: data.lo ? data.lo.axes : undefined,
      },
      {
        options: data.accessibility_resources,
        values: data.lo ? data.lo.accessibility_resources : undefined,
      },
    ])
    include ../components/lo-cont-res-panels
    +crPanels([
      {
        options: data.contents,
        values: data.lo ? data.lo.contents : undefined,
      },
      {
        options: data.resources,
        values: data.lo ? data.lo.resources : undefined,
      },
    ])
    include ../components/licenses-form
    include ../components/file-form
    .form-group
      button(type="submit", class="btn-lg btn btn-primary pull-right")
        | Cadastrar
      .clearfix
